<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDZwjotwJaIdIwEWjZYcJwjsDHyTm3Mpl8" />

        <activity android:name=".utils.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.MasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.QRcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.LoginScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.RegisterScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.SliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.PhoneLoginScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".screen.VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utils.TermEndService"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.VerifiedProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.UnverifiedProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.ClaimProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.PointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screen.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".screen.FeaturedDetailActivity" />
        <activity android:name=".screen.AuthenticeStoreActivity" />
        <activity android:name=".screen.SeeAllStoriesActivity" />
        <activity android:name=".screen.DetailStoriesActivity" />
        <activity android:name=".screen.HighLightScreen" />
        <activity android:name=".screen.DetailHighlightScreen"></activity>
    </application>

</manifest>